body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ede1c9;
    color: #000000;
}

@keyframes expand {
    from {
        max-width: 0;
        padding: 0;
    }
    to {
        max-width: 1200px;
        padding: 5px;
    }
}

html {
    scroll-behavior: smooth;
}

.navbar-form .btn {
    color: white;
}

.navbar-form .btn {
    background-color: rgb(61, 61, 238);
}


section {
    padding: 30px;
    text-align: center;
}


.profile-image {
    max-width: 75%;
    border-radius: 10%;
    margin: 0 auto;
    display: block;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
}

#footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
}

.social-icons a:hover {
    color: #ffcc00;
}

#programming-skill-chart {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.section {
    padding: 40px;
}

@media (max-width: 768px) {
    .section {
        padding: 20px;
    }

    .project {
        flex-basis: 100%;
    }
}

@media (max-width: 576px) {
    .section {
        padding: 10px;
    }
}

@media (max-width: 320px) {
    .section {
        padding: 5px;
    }
}
